n8n/sow-generation-workflow.json
{
  "name": "SOW Generation Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "generate-sow",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook - SOW Request",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [220, 300],
      "webhookId": "sow-generation"
    },
    {
      "parameters": {
        "jsCode": "// Extract and validate incoming data\nconst input = $input.first().json;\n\nconst sowType = input.sowType || 'embedded';\nconst customerName = input.customerName || 'Unnamed Client';\nconst transcriptText = input.transcriptText || '';\nconst intakeData = input.intakeData || null;\nconst diagnosticData = input.diagnosticData || null;\n\n// Build the prompt context\nlet contextParts = [];\n\nif (transcriptText) {\n  contextParts.push(`## Call Transcript\\n\\n${transcriptText}`);\n}\n\nif (intakeData) {\n  contextParts.push(`## Intake Form Responses\\n\\n${JSON.stringify(intakeData, null, 2)}`);\n}\n\nif (diagnosticData) {\n  contextParts.push(`## Diagnostic Assessment\\n\\n${JSON.stringify(diagnosticData, null, 2)}`);\n}\n\nconst context = contextParts.join('\\n\\n---\\n\\n');\n\nreturn {\n  sowType,\n  customerName,\n  context,\n  hasTranscript: !!transcriptText,\n  hasIntake: !!intakeData,\n  hasDiagnostic: !!diagnosticData\n};"
      },
      "id": "prepare-context",
      "name": "Prepare Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 300]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "claude-sonnet-4-20250514",
          "mode": "list",
          "cachedResultName": "claude-sonnet-4-20250514"
        },
        "messages": {
          "values": [
            {
              "content": "={{ $json.systemPrompt }}",
              "role": "system"
            },
            {
              "content": "={{ $json.userPrompt }}",
              "role": "user"
            }
          ]
        },
        "options": {
          "maxTokens": 8192,
          "temperature": 0.3
        }
      },
      "id": "claude-generate",
      "name": "Claude - Generate SOW",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [880, 300],
      "credentials": {
        "anthropicApi": {
          "id": "your-anthropic-credential-id",
          "name": "Anthropic API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\n\n// System prompt with the full SOW skill\nconst systemPrompt = `You are a professional Statement of Work generator for LeanScale, a GTM operations consultancy.\n\n## LeanScale Engagement Types\n\n| Type | Description | Typical Duration | Team Structure |\n|------|-------------|------------------|----------------|\n| **Embedded Engagement** | Ongoing GTM ops support, integrated into client's team | Monthly (3-month minimum) | 1 Architect + specialists as needed |\n| **One-Time Project** | Scoped deliverable with defined outcome | 4-12 weeks | 1 Principal Project Owner + 1 Architect |\n\n**Team Structure Decision:**\n- **Embedded engagements** → Default to \"Architect\" as the primary team member\n- **One-time projects** → Use \"Principal Project Owner\" (strategy & oversight) + \"Architect\" (hands-on build)\n\n## Extract Information from Transcript/Intake\n\nWhen given input data, extract:\n\n| Category | What to Capture |\n|----------|-----------------|\n| **Company Info** | Name, stage (Seed/A/B/C), industry, CRM, current tools |\n| **Primary Contact** | Name, title, reporting structure |\n| **Pain Points** | What problems they're trying to solve |\n| **Desired Outcomes** | What success looks like to them |\n| **Specific Requests** | Exact deliverables or use cases mentioned |\n| **Timeline** | Urgency, deadlines, \"as soon as possible\" signals |\n| **Budget Signals** | Any mentioned constraints, comparisons, or ceilings |\n| **Integration Needs** | Systems that need to connect (CRM, Slack, etc.) |\n\n## Pricing Guidelines\n\n| Engagement Type | Starting Price | Notes |\n|-----------------|----------------|-------|\n| Embedded (50 hrs/mo) | $15,000/month | 3-month default, flexible cancellation |\n| One-Time Project | $25,000-$45,000 | Scope-dependent, custom pricing available |\n| Clay Projects (standard) | $45,000 | 3-month engagement, no hour concept |\n\n## Output Format\n\nReturn a JSON object with this exact structure:\n\n{\n  \"executive_summary\": \"1-2 sentences on what LeanScale will deliver and why it matters\",\n  \"client_info\": {\n    \"company\": \"Company Name\",\n    \"primary_contact\": \"Name, Title\",\n    \"stage\": \"Series A/B/etc.\",\n    \"crm\": \"HubSpot/Salesforce/etc.\",\n    \"industry\": \"Their market\"\n  },\n  \"scope\": [\n    {\n      \"name\": \"Deliverable Name\",\n      \"description\": \"What this includes and why it matters\"\n    }\n  ],\n  \"deliverables_table\": [\n    {\n      \"deliverable\": \"Item name\",\n      \"description\": \"What it is\",\n      \"integration\": \"Where it connects\"\n    }\n  ],\n  \"timeline\": [\n    {\n      \"phase\": \"Week 1\",\n      \"activities\": \"What happens\",\n      \"duration\": \"5 days\"\n    }\n  ],\n  \"investment\": {\n    \"total\": \"$XX,XXX\",\n    \"payment_terms\": \"Payment terms description\",\n    \"inclusions\": [\"List of what's included\"]\n  },\n  \"team\": {\n    \"structure\": \"Embedded or Project\",\n    \"members\": [\n      {\n        \"role\": \"Architect\",\n        \"name\": \"TBD\",\n        \"responsibility\": \"Primary GTM operations\"\n      }\n    ],\n    \"communication\": \"Shared Slack channel, email, ad-hoc video calls\",\n    \"meetings\": \"Weekly 30-minute sync calls\",\n    \"responsiveness\": \"Same-day response during business hours\"\n  },\n  \"assumptions\": [\n    \"What client needs to provide\",\n    \"Access requirements\",\n    \"Scope boundaries\"\n  ],\n  \"acceptance_criteria\": [\n    \"How success will be measured\"\n  ]\n}\n\n## Important Rules\n- Do NOT include hour estimates in the SOW - show only total investment price\n- Do NOT include signature blocks\n- Match pricing to the engagement type and scope\n- Be specific about deliverables - avoid vague language\n- Timeline should be realistic based on scope`;\n\n// User prompt with the actual data\nconst userPrompt = `Generate a Statement of Work for the following engagement:\n\n**SOW Type:** ${input.sowType}\n**Customer:** ${input.customerName}\n\n${input.context || 'No additional context provided. Generate a template SOW for this engagement type.'}\n\nReturn ONLY valid JSON matching the structure specified. Do not include markdown code blocks or any other text.`;\n\nreturn {\n  ...input,\n  systemPrompt,\n  userPrompt\n};"
      },
      "id": "build-prompt",
      "name": "Build Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, 300]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\n\ntry {\n  // Extract the text content from Claude's response\n  let responseText = '';\n  \n  if (input.text) {\n    responseText = input.text;\n  } else if (input.content && Array.isArray(input.content)) {\n    responseText = input.content.map(c => c.text || '').join('');\n  } else if (typeof input === 'string') {\n    responseText = input;\n  }\n  \n  // Clean up the response - remove markdown code blocks if present\n  responseText = responseText\n    .replace(/^```json\\s*/i, '')\n    .replace(/^```\\s*/i, '')\n    .replace(/\\s*```$/i, '')\n    .trim();\n  \n  // Parse the JSON\n  const sowContent = JSON.parse(responseText);\n  \n  // Generate a title\n  const customerName = sowContent.client_info?.company || 'Client';\n  const engagementType = sowContent.team?.structure || 'Engagement';\n  const title = `${customerName} - ${engagementType} SOW`;\n  \n  return {\n    success: true,\n    title,\n    content: sowContent\n  };\n} catch (error) {\n  // If parsing fails, return the raw text with error info\n  return {\n    success: false,\n    error: error.message,\n    rawResponse: input,\n    // Fallback content structure\n    title: 'Generated SOW',\n    content: {\n      executive_summary: 'SOW generation encountered an error. Please review the raw response.',\n      client_info: {},\n      scope: [],\n      deliverables_table: [],\n      timeline: [],\n      investment: {},\n      team: {},\n      assumptions: [],\n      acceptance_criteria: []\n    }\n  };\n}"
      },
      "id": "parse-response",
      "name": "Parse Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1100, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "respond-success",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1320, 300]
    }
  ],
  "connections": {
    "Webhook - SOW Request": {
      "main": [
        [
          {
            "node": "Prepare Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Context": {
      "main": [
        [
          {
            "node": "Build Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Prompt": {
      "main": [
        [
          {
            "node": "Claude - Generate SOW",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude - Generate SOW": {
      "main": [
        [
          {
            "node": "Parse Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "SOW",
      "createdAt": "2026-02-05T00:00:00.000Z",
      "updatedAt": "2026-02-05T00:00:00.000Z"
    },
    {
      "name": "Sales App",
      "createdAt": "2026-02-05T00:00:00.000Z",
      "updatedAt": "2026-02-05T00:00:00.000Z"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2026-02-05T00:00:00.000Z",
  "versionId": "1"
}
